* {
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: rgba(241, 47, 234, 0.266);
}

.container {
    height: 45%;
    width: 40%;
    background-color: rgb(191, 146, 234);
    position: absolute;
    top: 25%;
    left: 30%;
    border: 2px solid white;

}

.heading {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.content {
    height: 30%;
    width: 80%;
    background-color: rgb(137, 105, 168);
    margin: 30px auto;
    padding: 20px;
}


#input {
    height: 100%;
    width: 100%;
    background-color: rgb(244, 201, 233);
    display: flex;
    border-radius: 20px;
}

.content input {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(244, 201, 233);
    border-radius: 20px;
    font-size: 16px;
    padding-left: 20px;
}

.content button {
    height: 100%;
    width: 35%;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
   color: bisque;
    background-color: rgb(191, 146, 234);
    border: none;
}



#li {
    min-height: 50%;
    width: 100%;
    background-color: rgb(137, 105, 168);
    padding: 20px;
    border: 2px solid white;
}

/* #li li{
    text-decoration: none;
    font-size: 18px;
    color:white ;
} */

.list {
    font-size: 18px;
    color: white;
  text-transform: capitalize;
  list-style: none;
list-style: decimal-leading-zero;
padding: 4px 0px;
    
}
