* {
    margin: 0;
    box-sizing: border-box;

}
body{
  background-image: url(./assests/milad-fakurian-HE1_K4_-QT8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.li{
    list-style-type: none;
    padding: 10px;
    background-color: transparent;
    box-shadow: 2px 1px 8px slategrey;
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: capitalize;

}

ul{
padding-left: 0px !important;
}

.btnStyle1{
    border: none;
    outline: none;
    font-size: 18px;
background-color: transparent;
padding-left: 250px;
}


.btnStyle{
    border: none;
    outline: none;
    font-size: 18px;
background-color: transparent;
padding: 6px;
}
